.backgroundContainer img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.detailsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 400px;
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 50pt;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size: 20pt;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
