* {
    margin: 0;
    font-size: 14pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav {
    background-color: rgba(23, 137, 195, 0.3);
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(28, 71, 93);
}

.navContainer {
    width: 100%;
    position: fixed;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.profile-dropdown {
    padding-inline-start: 0px;
}

a {
    font-size: 20pt;
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#button {
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#button:hover,
a:hover {
    color: white;
    background-color: rgb(28, 104, 139);
    border-radius: 10px;
    cursor: pointer;
}

.loginButton,
.profileButton,
.signupButton,
.logoutButton {
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16pt;
    color: black;
    background-color: rgb(28, 104, 139);
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profileContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.profile-dropdown li {
    margin-left: 10px;
}

.loginButton:hover,
.profileButton:hover,
.signupButton:hover,
.logoutButton:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    cursor: pointer;
}

#button:active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(80, 127, 148);
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
}

.form * {
    padding: 10px;
}

#formA {
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

#formB {
    margin-left: 85px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

#form1 {
    margin-left: 112px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

#form2 {
    margin-left: 77px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

#form3 {
    margin-left: 80px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

#form4 {
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
}

.form ul {
    margin-left: 20px;
}

h1 {
    font-size: 20pt;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#formA:hover,
#formB:hover,
#form1:hover,
#form2:hover,
#form3:hover,
#form4:hover {
    background-color: rgb(255, 255, 255);
}

#formA:focus,
#formB:focus,
#form1:focus,
#form2:focus,
#form3:focus,
#form4:focus {
    background-color: rgb(255, 255, 255);
}
